.menu-nav > .menu-item.menu-item-here > .menu-link .menu-text{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-icon {
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-text{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-icon i{
    color: #E6352F !important;
}
.switch input:checked ~ span:after{
    background-color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon, .aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon i{
    color: #E6352F !important;
}

.permission_checkbox label{
    float: left;
    width: 200px;
    margin-top:5px;
    margin-bottom:5px;
}
.permission_checkbox span{
    margin-right: 5px;
}
.clear_both{
    clear: both;
}

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-text{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-arrow{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-arrow {
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text{
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-text {
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-arrow {
    color: #E6352F !important;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span{
    background-color: #E6352F;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-bullet.menu-bullet-dot > span{
    background-color: #E6352F;
}

.search_bar{
    position: relative;
}
.search_bar ul{
    position: absolute;
    border: 1px solid lightgray;
    background-color: #ffffff;
    padding:0px;
    width: 100%;
}
.search_bar ul li{
    padding: 5px;
    list-style-type: none;
    margin:0px;
    padding:7px 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
    cursor: pointer;
}
.search_bar ul li:hover{
    background-color: rgb(243, 243, 243);
}

.cursor_pointer{
    cursor: pointer !important;
}


@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
}

.container{
    padding: 10px;
}
.content{
    padding:0px;
}